:root {
    --main-background-color: #ffffff;
    --main-header-color: #FF3B3F;/* #21D192;*/
    --main-detail-color: #FF3B3F;/*#FF00AA;*/
    --secondary-color: #091540;
    --main-carousel-height: 400px;
    --global-button-border-radius: 1.2rem;
    --global-item-border-radius: 0.5rem;
    --global-scrollable-container-height: calc(100vh - 48px);
    --toastify-icon-color-info: #091540;
    --toastify-color-progress-info: #091540;
}

body {
    background-color: var(--main-background-color);
    color: var(--secondary-color);
    font-weight: 500;
}

html {
    height: 100%;
}

@media screen and (max-width: 1440px) {
    .orders > table,
    .library-container > table,
    .cart-container > table,
    .cart-btn-container,
    .notifications-container ul,
    .register-container{
        width: 70% !important;
    }
    #categories > div > ul{
        height: 430px !important;
    }

    .filter-data-container{
        height: 100px !important;
    }

    #year.filter-data-container{
        height: 100% !important;
    }

    .home-carousel-img{
        width: 100%;
        height: 400px;
    }

    .card-custom{
        margin-left: auto;
        margin-right: auto;
    }

    .toolbar-container{
        width: 100% !important;
    }
}

@media screen and (max-width: 1024px) {
    .orders > table,
    .library-container > table,
    .cart-container > table,
    .cart-btn-container,
    .notifications-container ul,
    .register-container{
        width: 85% !important;
    }

    .home-carousel-img{
        width: 100%;
        height: 300px;
    }

    .card-custom{
        margin-left: auto;
        margin-right: auto;
    }

    .toolbar-container{
        width: 100% !important;
    }
}



@media screen and (max-width: 425px){
    .footer-container{
        flex-direction: column;
        
    }

    .home-carousel-img{
        height: 180px;
        width: 100%;
    }

    .mini-menu-item{
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }

    .card-custom{
        margin-left: auto;
        margin-right: auto;
    }


    .footer-column{
        text-align: center;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #09154040;
    border-radius: var(--global-button-border-radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #09154080;
}

.navbar,
.navbar a {
    color: var(--secondary-color) !important;
}

#navItems,
#navItems a{
    color: var(--secondary-color) 
}

.logo{
    width: 180px;
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    transition: width .5s ease;
}

.logo:hover{
    cursor: pointer;
}

nav {
    padding-left: var(--bs-gutter-x, .75rem);
    padding-right: var(--bs-gutter-x, .75rem);
    padding-bottom: 0 !important;
}

footer ul {
    padding-inline-start: 0px;
}

.justify-center {
    display: flex;
    justify-content: center !important;
}

.home-carousel-img{
    
}

.login-cart-position {
    display: flex;
    justify-content: flex-end !important;
}

.home-page-carousel {
    margin-top: 10px;
}

.carousel-item-container{
    display: flex !important;
    flex-direction: row;
    width: calc(50% - 30px);
}



.carousel-info{
    display:flex;
    width:50%;
    align-items: center;
    align-content:center;
    justify-content: center;
    color: var(--main-background-color);
    background-color: var(--secondary-color);
    z-index: 1;
    padding-left: 3rem;
    padding-right: 3rem;
}

.carousel-img{
    height: auto;
    width: 100%;
}

.carousel-img-container{
    width: 50%;
    padding-left: 10%;
}

.carousel-info:after{
    content:'';
    width:70%; 
    height:100%;
    position:absolute;
    top:0; 
    left:0;
    background: var(--secondary-color);
    z-index:-1;
    transform: skewX(-30deg);
    transform-origin:0 0;
    border-radius: var(--global-item-border-radius);
}








.carousel-indicators button {
    border-radius: 100%;
    width: 10px !important;
    height: 10px !important;
    background-color: white;
    margin-left: 0.5rem;
    opacity: 0.5;
}

.carousel{
    margin-top: 15px;
}

.home-page-carousel,
.carousel-inner,
.carousel-item {
    width: 100%;
    border-radius: var(--global-item-border-radius) !important;
}

.home-page-mini-menu {
    color: var(--main-detail-color);
}

.mini-menu{
    border-bottom: 1px solid lightgray;
}

.mini-menu-item{
    color: inherit;
    --border-color: var(--main-detail-color);
    --border-width: 4px;
    --bottom-distance: 0px;
    background-image: linear-gradient(var(--border-color), var(--border-color));
    background-size: 0% var(--border-width);
    background-repeat: no-repeat;
    transition: background-size 0.4s;
    margin-left: 5px;
    margin-right: 5px;
    padding: 1rem 1rem;
}

.mini-menu-item:hover,
.mini-menu-item.selected{
    background-size: 100% var(--border-width);
    color: var(--main-detail-color);
    cursor: pointer;
}


.nav-item:hover,
.nav-item:focus-within
{
    background-size: 100% var(--border-width);
    color: var(--main-detail-color) !important;
}

.nav-item.selected{
    background-size: 100% var(--border-width);
    color: var(--main-detail-color) !important;
}

.nav-item{
    --border-color: var(--main-header-color);
    --border-width: 4px;
    --bottom-distance: 0px;
    background-image: linear-gradient(var(--border-color), var(--border-color));
    background-size: 0% var(--border-width);
    background-repeat: no-repeat;
    transition: background-size 0.4s;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 1rem;
}

.fromLeft {
    background-position: 0 calc(100% - var(--bottom-distance))
  }

.dropdown-item{
    color: var(--secondary-color);
}

.dropdown-item.not-interactable:hover{
    background-color: white !important;
    cursor: inherit;
    border-radius: inherit;
    color: inherit !important;
}

.dropdown-item:hover,
.dropdown-item.selected{
    background-color: #09154020;
    cursor: pointer;
    border-radius: var(--global-item-border-radius);
    color: var(--main-detail-color) !important;
}

.notification-cotainer > .fa-circle-check{
    color: var(--main-detail-color);
}

.notifications-list{
    max-height: 400px;
    overflow: auto;
}

.notification-cotainer > .fa-circle{
    color: var(--main-detail-color);
}

.notification-text{
    width: 260px;
    white-space: break-spaces;
    border-left: 2px solid white;
    padding-left: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.notification-text-full{
    white-space: break-spaces;
    padding-left: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

.notification-item{
    list-style-type: none;
    border-bottom: 1px solid rgba(0,0,0,0.125);
}

.notification-dropdown-action{
    padding-right: 10px !important;
    font-size: larger;
}

.dropdown-toggle::after{
    margin-left: 0.5rem;
}

.nav-link:hover {
    text-decoration: none;
    cursor: pointer;
}


.nav-item .nav-link:hover {
    text-decoration: none !important;
}

.fa-solid,
.fa-brands {
    padding-right: 10px;
}

nav {
    background-color: var(--main-background-color);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.card-img {
    height: 400px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--global-item-border-radius);
}

.card-img-container {
    position: relative;
}

.card-custom {
    border-radius: var(--global-item-border-radius);
    border: none;
    max-width: 300px;
    height: 540px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-custom:hover .fa-bookmark {
    visibility: visible;
}

.card-img:hover{
    cursor: pointer;
}

.card-custom:hover {
    box-shadow: 0 4px 8px 0 #FF3B3F60, 0 6px 20px 0 #FF3B3F60;
}

.card-custom .fa-bookmark {
    position: absolute;
    left: 10px;
    top: 0px;
    padding: 0 !important;
    color: var(--main-detail-color);
    font-size: 40px;
    visibility: hidden;
    z-index: 1031;
}

.favorite:hover{
    cursor:default !important;
}

.fa-bookmark.favorite {
    visibility: visible !important;
    opacity: 1 !important;
}

.fa-bookmark:hover {
    cursor: pointer;
}

.book-title>a:hover {
    color: var(--main-detail-color);
    text-decoration: underline;
    cursor: pointer;
}

.book-title {
    overflow: hidden !important;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#publisher-list > ul > li,
#author-list > ul > li{
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}

.btn-carousel{
    background-image: linear-gradient(var(--secondary-color), var(--secondary-color)) !important;
    position:absolute !important;
    top: 430px !important;
    left:45px !important;
}

.btn-custom,
.btn-custom:focus {
    background-color: var(--main-detail-color) !important;
    color: #ffffff;
    border-color: var(--main-detail-color);
    border-radius: var(--global-button-border-radius);
    padding: 0.375rem 1.2rem;
    background-image: linear-gradient(white, white);
    background-repeat: no-repeat;
    transition: .3s ease-in-out;
    background-size: 100% 0%;
    background-position: 50% 50%;
}

.btn-custom:hover {
    color: var(--main-detail-color) !important;
    border-color: var(--main-detail-color) !important;
    background-size: 100% 100%;
}


.btn-circle{
    padding: 0.375rem 0.75rem !important;
}


.btn-custom:active {
    background-size: 100% 0%;
    border-color: var(--main-detail-color) !important;
    color: var(--main-background-color) !important;
    box-shadow: none !important;
    outline: none !important;
    transition: 0s;
}

.btn-custom:disabled{
    background-color: var(--main-detail-color);
    color: #ffffff;
    border-color: var(--main-detail-color);
    border-radius: var(--global-button-border-radius);
}

*:focus:not(:focus-visible) {
    outline: 0 !important;
    box-shadow: none !important;
}

.title-in-table{
    max-width: 250px;
}

.card-custom .card-text {
    text-align: center;
    margin-top: auto;
    font-size: 14px;
}

.card-custom .card-btn {
    width: auto;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}

.nav-tabs {
    border-bottom-color: var(--main-detail-color);
}


footer a{
    color: var(--secondary-color);
    text-decoration: none;
}

.footer-column {
    margin-left: auto;
    margin-right: auto;
}

footer.sticky-footer {
    /*position: fixed;
    bottom: 0;*/
}

footer {
    font-size: 13px;
    height: 130px;
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 0rem;
    background-color: var(--main-background-color);
    position: relative;
}

footer .fa-brands:hover,
footer .fa-solid:hover {
    color: var(--main-header-color);
}

footer a:hover{
    color: var(--main-header-color);
    text-decoration: underline;
}

footer h5{
    color: var(--secondary-color);
}

.container-fluid {
    padding-top: 110px; /*56*/
    min-height: calc(100vh - 150px);
    overflow: scroll;
    transition: padding-top .5s ease;
    
}

.form-check-label:hover{
    cursor: pointer;
}

.form-check-input{
    margin-right: 0.5rem;
}

.form-check-input:checked {
    background-color: var(--main-detail-color);
    border-color: var(--main-detail-color);
}

.form-check-input:focus {
    border-color: var(--main-detail-color);
    box-shadow: none;
}

.social-media-icon {
    padding-left: 8px;
    padding-right: 8px;
    font-size: larger;
}


.navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1032;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 230px;
    position: fixed;
    /*height: calc(var(--global-scrollable-container-height) + 8px);*/
    height: 100%;
    overflow: auto;
    margin-top: 0px;
    background-color: #ffffff;
    padding-right: 15px;
    border-right: 1px solid rgba(0, 0, 0, .125);
}

/* Sidebar links */
.sidebar a {
    display: block;
    padding: 11px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

/* Active/current link */
.sidebar a.active {
    background-color: var(--main-detail-color);
    color: white;

    border-radius: var(--global-button-border-radius);
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #FF00AA50;
    color: white;
    border-radius: var(--global-button-border-radius);
}

@keyframes hide{
    from {left: 0;}
    to {left: -230px;}
}

@keyframes show{
    from {left: -230px;}
    to {left: 15px;}
}

@keyframes expand{
    from {margin-left: 230px;}
    to {margin-left: 0px;}
}

@keyframes retract{
    from {margin-left: 0px;}
    to {margin-left: 230px;}
}

@keyframes expand-toolbar{
    from {padding-left: 245px;}
    to {padding-left: 15px;}
}

@keyframes retract-toolbar{
    from {padding-left: 15px;}
    to {padding-left: 245px;}
}

.hide-sidebar{
    animation-name: hide;
    animation-duration: 1s;
    left: -230px;
}

.show-sidebar{
    animation-name: show;
    animation-duration: 1s;
}

.expand-content{
    animation-name: expand;
    animation-duration: 1s;
}

.retract-content{
    animation-name: retract;
    animation-duration: 1s;
}

.expand-toolbar{
    animation: expand-toolbar;
    animation-duration: 1s;
}

.retract-toolbar{
    animation: retract-toolbar;
    animation-duration: 1s;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
    margin-left: 230px;
    /*height: calc(var(--global-scrollable-container-height) - 68px);*/
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden auto;
}

.card-custom-container .col {
    margin-bottom: 15px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: var(--global-button-border-radius) !important;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-container:hover,
.search-container:focus-within{
    border-color: var(--main-detail-color);
}

.collapsing > div > input.thumb,
.collapsing > div > div > #year > div> input.thumb{
    visibility: hidden;
}

.search-control {
    width: 100%;
    background: none;
    border: 0;
    outline: none;
    padding-left: 15px;
}

.fa-magnifying-glass {
    padding: 0px !important;
}

.btn-search {
    cursor: pointer;
    outline: none;
}

.form-control:focus {
    box-shadow: none !important;
    border-radius: var(--global-button-border-radius);
    border: 1px solid var(--main-detail-color);
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

.form-control {
    border-radius: var(--global-button-border-radius);
    margin-bottom: 10px;
}

.form-control:hover {
    border-radius: var(--global-button-border-radius);
    border: 1px solid var(--main-detail-color);
}


.form-control-container > .fa-star-of-life{
    padding: 0 !important;
    color: red;
}

.field-error{
    color:red;
    padding-left: 15px;
    padding-bottom: 15px;
}

.form-check > .fa-star-of-life{
    color: red;
    padding-left: 15px;
}

.form-control-container {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: var(--global-button-border-radius);
    padding: 0.375rem 0.75rem;
    margin-bottom: 10px;
}

.form-control-container:hover,
.form-control-container:focus-within {
    border-radius: var(--global-button-border-radius) !important;
    border: 1px solid var(--main-detail-color) !important;
}

.form-control-container:hover>.fa-solid,
.form-control-container:focus-within>.fa-solid {
    color: var(--main-detail-color);
}

.form-control-container>input {
    width: 100%;
    background: none;
    border: 0;
    outline: none;
}

.form-control-container>.fa-solid {
    padding-left: 5px;
}

.register-link {
    color: var(--main-detail-color);
    font-size: small;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
    font-size: small;
    color: var(--main-detail-color);
}

.modal-header {
    border: none;
}

.login-head {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 10px;
}

.avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -47px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: var(--secondary-color);
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.avatar>img {
    height: 57px;
    width: 65px;
}

.modal-content {
    border: none;
}

.alert {
    border-radius: var(--global-button-border-radius);
    text-align: center;
}

.alert-custom {
    position: fixed;
    z-index: 1032;
    right: 0;
    top: 60px;
    margin-right: 10px;
}

.category-list {
    list-style: none;
    padding-left: 0;
}

.category-list>li {
    padding: 10px 0px;
    --border-color: var(--main-header-color);
    --border-width: 3px;
    --bottom-distance: 0px;
    background-image: linear-gradient(var(--border-color), var(--border-color));
    background-size: 0% var(--border-width);
    background-repeat: no-repeat;
    transition: background-size 0.4s;
    width: fit-content;
}

.category-list>li:hover {
    background-size: 100% var(--border-width);
    color: var(--main-detail-color) !important;
    cursor: pointer;
}

.category-list>li.active {
    background-size: 100% var(--border-width);
    color: var(--main-detail-color) !important;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: inherit;
    box-shadow: none;
}

.accordion-button {
    color: inherit;
}

.accordion-body {
    padding: 0 !important;
}

.accordion-item {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.fa-bars,
.fa-rotate,
.fa-trash-can,
.toolbar-container .fa-arrow-left,
.toolbar-container .fa-arrow-right {
    padding: 0 !important;
}

.clear-search-btn{
    background-color: transparent !important;
    color: var(--main-detail-color) !important;
    border: none;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    visibility: hidden;
}



.activeFiltersContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    align-content: center;
}

.activeFiltersContainer > .badge{
    background-color: #091540;
    padding: 0.7rem 1rem;
}

.clear-search-btn > .fa-solid {
    padding: 0;
}

.toolbar-container {
    display: flex;
    /*padding-left: 245px;*/
    align-items: center;
    width:50%;
}

.toolbar-container>div,
.toolbar-container>button {
    margin-right: 15px;
}

.order-img{
    height: 300px;
    width: 200px;
    border-radius: var(--global-item-border-radius);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.order-img:hover{
    box-shadow: 0 4px 8px 0 #FF3B3F60, 0 6px 20px 0 #FF3B3F60;
}

.order-items-container{
    padding: 1rem 0rem;
    display: flex;
}

#year.filter-data-container{
    height: 100%;
}

#categories > div > ul{
    overflow: scroll;
    height: 630px;
}

.letter-seperator:after{
    content: '';
    flex: 1;
    margin-left: 10px;
    height: 1px;
    background-color: rgba(0, 0, 0, .125);
}

.letter-seperator{
    display: flex;
    align-items: center;
}

.filter-data-container {
    width: 100%;
    height: 140px;
    overflow: scroll;
    /*border-top: 1px solid rgba(0, 0, 0, .125);*/
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    font-size: smaller;
    text-overflow: ellipsis;
}

.register-favorite-list{
    width: 100%;
    height: 240px;
    overflow: scroll;
    /*border-top: 1px solid rgba(0, 0, 0, .125);*/
    
    font-size: smaller;
    text-overflow: ellipsis;
}

.register-favorite-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 1rem;
}

.rergister-favorite-item > h6{
    padding-bottom: 0.5rem;
    text-align: center;
}

.rergister-favorite-item{
    width: 50%;
}

.rergister-favorite-item:first-of-type{
    padding-right: 1%;
    border-right: 1px solid rgba(0, 0, 0, .125);
}

.rergister-favorite-item:last-of-type{
    padding-left: 1%;
}

.order-img:hover{
    cursor: pointer;
}

.page-item.disabled .page-link{
    background-color: transparent;
    color: var(--secondary-color);
}

.home-more{
    padding-top: 2rem;
    text-align: center;
    width: 100%;
}

.home-more > h6 > a{
    text-decoration: none;
    color: var(--main-detail-color);
}

.home-more > h6 > a:hover{
    text-decoration: underline;
    color: var(--main-detail-color);
}

#filterData>button::after {
    background-size: 1rem;
}

#filterData h6 {
    margin-bottom: 0;
}

.form-range::-webkit-slider-thumb {
    background: var(--main-detail-color);
    box-shadow: none;
}

.cart-img {
    width: 80px;
    height: 120px;
    border-radius: var(--global-item-border-radius);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.notifications-container .mini-menu{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.notifications-container ul{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.cart-container,
.library-container,
.notifications-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cart-container>table,
.library-container>table,
.orders > table {
    color: inherit;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.cart-container>h4,
.cart-container>h5,
.library-container>h4,
.library-container>h5,
.orders > h5,
.notifications-container > h4 {
    text-align: center;
    padding: 50px;
}

.cart-container th,
.library-container th {
    text-align: center;
}

.cart-container .align-middle,
.library-container .align-middle,
.orders .align-middle {
    text-align: center;
    vertical-align: middle;
}

.cart-container a,
.library-container a {
    color: inherit;
    text-decoration: none;
}

.cart-container a:hover,
.library-container a:not(.page-link):hover {
    color: var(--main-detail-color);
    text-decoration: underline;
}


.cart-container .cart-item:hover,
.library-container .cart-item:hover {
    background-color: #09154008;
}

.order-item{
    border-color: transparent;
}

.cart-btn-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.empty{
    justify-content: center !important;
}

.nav-item:hover > .cart > .badge,
.nav-item.selected > .cart > .badge{
    background-color: var(--main-detail-color);
}

.badge {
    background-color: var(--secondary-color);
    color: var(--main-background-color);
    border-radius: var(--global-button-border-radius);
    margin-left: 5px;
}

.cart {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.book-container {
    display: flex;
    flex-direction: row;
    border-radius: var(--global-item-border-radius);
    border: none;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)*/
    justify-content: center;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
}

.book-container a {
    color: var(--main-detail-color);
    text-decoration: none;

}


.book-container a:hover {
    color: var(--main-detail-color);
    text-decoration: underline;
}

.book-img {
    border-radius: var(--global-item-border-radius);
    height: 600px;
    width: 1200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-rating:hover{
    cursor: pointer;
}

.nav-item > .fa-bell{
    padding-right: 0 !important;
}

.notification-indicator{
    background-color: var(--main-detail-color) !important;
    padding: 0.3rem !important;
}

.notification-item:hover{
    background: #09154008;
}

.notification-cotainer > .fa-circle-check:hover{
    cursor: pointer;
}

#notifications .dropdown-item:hover{
    cursor: default !important;
}

.notification-actions-container{
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    border-top: 1px solid white;
}

.notification-date{
    font-size: smaller;
}

.notification-cotainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.book-page-recommendations .card-custom{
    margin-left: auto;
    margin-right: auto;
}



.book-container .list-group-item,
.comments-container .list-group-item {
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.book-container .card-body {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.book-container .list-group {
    display: flex;
    height: 100%;
}

.book-container h4 {
    padding-left: 1rem;
}

.rating-container {
    color: lightgray;
    direction: rtl !important;
    font-size:xx-large;
    margin-bottom: 1.5rem;
}

.rating-container .filled-star{
    color: var(--main-detail-color);
}

.rating-container:hover {
    cursor: pointer;
}

.rating-container>i:hover:before,
.rating-container>i:hover~i:before {
    color: var(--main-detail-color);
}

.book-rating {
    font-size: larger;
    color: var(--main-detail-color);
}

.book-details-actions {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.comment-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-img-avatar {
    background-color: var(--main-detail-color);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
}

.comments-container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.comments-container .accordion-button,
.register-container .accordion-button {
    width: auto;
}

.book-container .fa-bookmark {
    visibility: visible;
    color: var(--main-detail-color);
    position: absolute;
    top: auto;
    font-size: 70px;
    opacity: 0.5;
    left: 15px;
}

.not-found-container{
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: flex-end;
}

.not-available-badge{
    color: var(--main-background-color);
    background-color: var(--secondary-color);
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0.375rem 1.2rem;
    line-height: 1.5;
}

.book-container .not-available-badge{
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    top: auto;
    right: auto;
    padding: 0.375rem 1.2rem;
    line-height: 1.5;
    display: block;
}

.book-container .fa-bookmark:hover {
    visibility: visible;
    color: var(--main-detail-color);
    position: absolute;
    top: auto;
    font-size: 70px;
    opacity: 1;
}

.library-container .fa-basket-shopping {
    padding: 0;
}

.order-completed-container,
.error-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 10rem;
}

.error-page-container .fa-face-frown,
.error-page-container .fa-ghost{
    padding-bottom: 15px;
}

.error-page-container h4{
    padding-bottom: 15px;
}

.order-completed-container .fa-circle-check {
    color: var(--main-header-color);
    padding-bottom: 15px;
}

.register-form-tab{
    margin-top: 1rem;
}


.register-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.form-header {
    padding: 1rem 0;
    text-align: center;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.comment-user .filled-star {
    color: var(--main-detail-color);
}

.comment-user .empty-star {
    color: gray;
}

.loading-spinner {
    align-items: center;
    /*min-height: 280px;*/

    padding: 0 !important;
    margin: 0 !important;
    /*align-items: center;*/
    min-height: 100vh;
    z-index: 99999;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #00000050;
}

#deleteRating{
    padding-right: 10px !important;
}

.loading-spinner>div {
    color: var(--main-header-color);
    height: 5rem;
    width: 5rem;
    position: absolute;
    top: 50vh;
    border-width: 0.4rem;
}

.dropdown-menu{
    background-color: var(--main-background-color);
    border: none;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,.2);
}

.order-success{
    color: #198754 !important;
}

select
{
    border:none;
    width: 100%;
    outline: none;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../Images/arrow-down-gray.svg');
    background-repeat: no-repeat, repeat;
    background-position: right .4em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.form-control-container:hover > select,
.form-control-container:focus-within > select{
    background-image: url('../Images/arrow-down-pink.svg');
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.password-reset-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.terms{
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

.orders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.order-tr{
    border-color: transparent;
}

.order-tr:hover {
    background-color: #09154008;
}

.order-tr button{
    background-color: transparent;
}

.hidden-td{
    padding: 0 !important;
}


.rating-actions-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.slider {
    position: relative;
    width: 200px;
  }
  
  .slider__track,
  .slider__range {
    border-radius: 3px;
    height: 5px;
    position: absolute;
  }
  
  .slider__track {
    background-color: #09154020;
    width: 100%;
    z-index: 1;
  }
  
  .slider__range {
    background-color: #09154020;
    width: 100%;
    z-index: 2;
  }
  
  /* Removing the default appearance */
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 200px;
    outline: none;
  }
  
  .thumb--zindex-3 {
    z-index: 3;
  }
  
  .thumb--zindex-4 {
    z-index: 4;
  }

  .thumb--zindex-5 {
    z-index: 5;
  }

  .slider__left-value,
.slider__right-value {
  font-size: 12px;
  margin-top: 20px;
  position: absolute;
}

.slider__left-value {
  left: 0px;
}

.slider__right-value {
  right: 0px;
}

.year-slider-container{
    padding-top:20px;
    padding-bottom: 50px;
}
  
  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    background-color: var(--main-detail-color);
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
  
  /* For Firefox browsers */
  .thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }

  .Toastify__toast{
      border-radius: var(--global-item-border-radius) !important;
      color: var(--secondary-color) !important;
  }

.page-link,
.page-link:active,
.page-link:focus{
    color: var(--secondary-color);
    --border-color: var(--main-header-color);
    --border-width: 4px;
    --bottom-distance: 0px;
    background-image: linear-gradient(var(--border-color), var(--border-color));
    background-size: 0% var(--border-width);
    background-repeat: no-repeat;
    transition: background-size 0.4s;
    border: none;
    border-radius: 0%;
    background-color: transparent;
}

.pagination{
    justify-content: center;
    padding-top: 1rem;
}

.page-link:hover,
.page-item.active .page-link{
    background-size: 100% var(--border-width);
    background-color: transparent;
    color: var(--main-detail-color);
}

.page-item{
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border: none;
}

.page-item:first-child .page-link{
    border-radius: 0;
}

#filter-search-author,
#filter-search-publisher{
    font-size: small;
}
#filter-search-author > .fa-magnifying-glass,
#filter-search-publisher > .fa-magnifying-glass{
    padding-right: 10px !important;
}

#filter-search-author > .fa-xmark:hover{
    cursor: pointer;
}